<!-- <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value);" *ngIf="validCredentials"> -->
<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value);">

  <!-- Email input -->
  <div class=" form-outline mb-4">
    <input type="email" id="email" class="form-control" name="email" formControlName="email"
      placeholder="Enter your email" #email1 />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="userPassword" class="form-control" name="password" formControlName="password"
      placeholder="Enter your password" #password2 />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Signin</button>

</form>
